### Analysis of Recall

In [1]:
import pandas as pd
import glob

In [14]:
memory_df = pd.read_csv('../data/01_interview_data/recall_vr_driving_e.csv')


# this needs to be removed -- it is only here to restrict ppts to the ones we have in the preliminary analysis to check if everything workds
subj_restrict_counter = 18
memory_df = memory_df.loc[:subj_restrict_counter]

memory_df#.head()

,subject,binge_drinking,buckle_up,diabetes,HIV,text_driving,drugged_driving,smoking,sun_protection,wash_hands,...,burger,coffee,education_donation,furniture,hotel,Unnamed: 21,total_recall,condition,Emotional/Total,Note
0,sub001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,NaN,0,1,0/0,NaN
1,sub002,1,1,0,0,1,0,0,0,0,...,0,0,0,0,0,NaN,5,1,2/5,NaN
2,sub003,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,NaN,2,1,0/2,NaN
3,sub004,0,0,0,0,0,1,0,0,0,...,0,1,0,0,1,NaN,6,1,2/6,NaN
4,sub005,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,NaN,4,1,2/4,NaN
5,sub006,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,NaN,3,1,1/3,NaN
6,sub007,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,NaN,5,1,3/5,NaN
7,sub008,0,0,0,0,0,1,0,1,0,...,0,0,0,0,0,NaN,2,1,2/2,NaN
8,sub009,0,0,0,0,0,1,0,0,0,...,0,0,1,0,0,NaN,5,1,1/5,NaN
9,sub010,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,NaN,0,1,0/0,NaN
10,sub011,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,NaN,2,1,2/2,NaN
11,sub012,1,1,1,0,0,0,1,1,1,...,0,0,0,0,1,NaN,10,1,4/10,NaN
12,sub013,0,1,0,0,0,0,1,1,0,...,0,0,0,0,0,NaN,3,2,2/3,NaN
13,sub014,0,0,0,0,0,1,1,0,0,...,0,0,1,0,0,NaN,3,2,2/3,NaN
14,sub015,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,NaN,4,2,1/4,NaN
15,sub016,1,1,0,0,0,0,1,0,1,...,1,0,0,1,0,NaN,9,2,8/9,NaN
16,sub017,0,0,1,1,1,0,0,0,0,...,1,1,0,0,0,NaN,7,2,3/7,NaN
17,sub018,0,0,0,1,0,1,1,0,1,...,1,0,0,0,0,NaN,7,2,4/7,NaN
18,sub019,1,0,1,0,0,1,1,0,0,...,0,0,0,1,1,NaN,8,2,4/8,NaN

In [15]:

#recognition_df = pd.read_csv('../data/02_qualtrics_data/vr_billboard_qualtrics_cleaned.csv')#

#recognition_df = recognition_df.drop(['date', 'duration_sec', 'age', 'gender',
#       'virtual sickness_1_discomfort', 'virtual_sickness_2_fatigue',
#       'virtual_sickness_3_eyestrain', 'virtual_sickness_4_difficultyfocusing',
#       'virtual_sickness_5_headache', 'virtual_sickness_6_fullnessofhead',
#       'virtual_sickness_7_blurredvision', 'virtual_sickness_8_dizzy',
#       'virtual_sickness_9_vertigo', 'spatial_presence_1_transported',
#       'spatial_presence_2_threedimensional',
#       'spatial_presence_3_realisticproportions',
#       'spatial_presence_4_movefreely', 'spatial_presence_5_physicallypresent',
#       'distractor_moonrise_hotel',
#       'distractor_pollen', 'distractor_exit_32', 'distractor_nhtsa'], axis=1)

#recognition_df.head()

In [16]:
folders = glob.glob("../data/00_gaze_data/sub*")
folders.sort()
subjs = []
for f in folders:
    subjs.append(f[-6:])

print(len(subjs))  

# this needs to be removed -- it is only here to restrict ppts to the ones we have in the preliminary analysis to check if everything workds

subjs = subjs[:subj_restrict_counter+1]
print(len(subjs))  

subjs

19
19

['sub001',
 'sub002',
 'sub003',
 'sub004',
 'sub005',
 'sub006',
 'sub007',
 'sub008',
 'sub009',
 'sub010',
 'sub011',
 'sub012',
 'sub013',
 'sub014',
 'sub015',
 'sub016',
 'sub017',
 'sub018',
 'sub019']

In [17]:
#recognition_df[recognition_df['subject']==subjs[i]]['sum_fa'].values[0]

In [18]:
# this cell is just for demo - it could be deleted

i = 0
#read this participant's fixation data
curr_sub_fixation_file = '../data/00_gaze_data/fixation_billboards/'  + subjs[i] +'_fixations_billboards.csv'
out_file_name = '../data/03_fixation_billboards_recall_recognition/'  + subjs[i] +'_fixations_billboards_recall_recognition.csv'
curr_sub_fix_df = pd.read_csv(curr_sub_fixation_file)
curr_sub_fix_df.head()

curr_sub_fix_df = curr_sub_fix_df.replace(to_replace=r'health_\d*_', value='', regex=True)
curr_sub_fix_df = curr_sub_fix_df.replace(to_replace=r'commercial_\d*_', value='', regex=True)
curr_sub_fix_df = curr_sub_fix_df.replace(to_replace=r'_emo', value='', regex=True)
curr_sub_fix_df = curr_sub_fix_df.replace(to_replace=r'_neu', value='', regex=True)

    
#subselect the position, billboard, and fixations for this subject
position_billboard_fix = curr_sub_fix_df[["position_index", "billboard_image_at_position_text", "fix_bill"]]
position_billboard_fix.head()

   position_index billboard_image_at_position_text  fix_bill
0               1                     text_driving       0.0
1               2                           burger       2.0
2               3                        buckle_up       0.0
3               4                            hotel       0.0
4               5                   sun_protection       0.0

In [19]:
# this cell is just for demo - it could be deleted

current_subject_recall = memory_df[memory_df['subject']==subjs[i]]
current_subject_recall = current_subject_recall.drop('subject', axis= 1)
current_subject_recall = current_subject_recall.T
current_subject_recall['billboard'] = current_subject_recall.index
current_subject_recall.rename( columns={i :'recall'}, inplace=True )
current_subject_recall.head()

               recall       billboard
binge_drinking      0  binge_drinking
buckle_up           0       buckle_up
diabetes            0        diabetes
HIV                 0             HIV
text_driving        0    text_driving

In [20]:
# this cell is just for demo - it could be deleted

position_billboard_fix_recall = position_billboard_fix.merge(current_subject_recall, left_on = 'billboard_image_at_position_text', right_on = 'billboard')
position_billboard_fix_recall = position_billboard_fix_recall.drop('billboard', axis=1)
print(position_billboard_fix_recall['fix_bill'].values)

[ 0.  2.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. 13.  0.  0.  0. 17.  0.
  0.  0.]

In [21]:
for i in range(len(subjs)):

    #read this participant's fixation data
    curr_sub_fixation_file = '../data/00_gaze_data/fixation_billboards/'  + subjs[i] +'_fixations_billboards.csv'
    out_file_name = '../data/03_fixation_billboards_recall_recognition/'  + subjs[i] +'_fixations_billboards_recall_recognition.csv'
    curr_sub_fix_df = pd.read_csv(curr_sub_fixation_file)
    curr_sub_fix_df.head()

    curr_sub_fix_df = curr_sub_fix_df.replace(to_replace=r'health_\d*_', value='', regex=True)
    curr_sub_fix_df = curr_sub_fix_df.replace(to_replace=r'commercial_\d*_', value='', regex=True)
    curr_sub_fix_df = curr_sub_fix_df.replace(to_replace=r'_emo', value='', regex=True)
    curr_sub_fix_df = curr_sub_fix_df.replace(to_replace=r'_neu', value='', regex=True)

    
    #subselect the position, billboard, and fixations for this subject
    position_billboard_fix = curr_sub_fix_df[["position_index", "billboard_image_at_position_text", "fix_bill"]]
    print(position_billboard_fix['fix_bill'].values)
    position_billboard_fix.head()

    #munge the recall df around
    current_subject_recall = memory_df[memory_df['subject']==subjs[i]]
    current_subject_recall = current_subject_recall.drop('subject', axis= 1)
    current_subject_recall = current_subject_recall.T
    current_subject_recall['billboard'] = current_subject_recall.index
    current_subject_recall.rename( columns={i :'recall'}, inplace=True )
    current_subject_recall.head()


    #merge fixation and recall df
    position_billboard_fix_recall = position_billboard_fix.merge(current_subject_recall, left_on = 'billboard_image_at_position_text', right_on = 'billboard')
    position_billboard_fix_recall = position_billboard_fix_recall.drop('billboard', axis=1)

    print(position_billboard_fix_recall['fix_bill'].values)
    
    
    #munge the recognition df around
    #current_subject_recognition = recognition_df[recognition_df['subject']==subjs[i]]
    #current_subject_recognition = current_subject_recognition.drop('subject', axis= 1)
    #current_subject_recognition = current_subject_recognition.T
    #current_subject_recognition['billboard'] = current_subject_recognition.index
   
    #current_subject_recognition.rename( columns={i :'recognition'}, inplace=True )
    #current_subject_recall.head()

    #merge the fixation-recall and recognition df
    #position_billboard_fix_recall_recognition = position_billboard_fix_recall.merge(current_subject_recognition, left_on = 'billboard_image_at_position_text', right_on = 'billboard')
    #position_billboard_fix_recall_recognition = position_billboard_fix_recall_recognition.drop('billboard', axis=1)
    #position_billboard_fix_recall_recognition['recall'] = position_billboard_fix_recall_recognition['recall'].astype(int)
    #position_billboard_fix_recall_recognition['sum_fa'] = recognition_df[recognition_df['subject']==subjs[i]]['sum_fa'].values[0]

    #position_billboard_fix_recall_recognition.head()
    
    
    #save to file
    # position_billboard_fix_recall_recognition.to_csv(out_file_name)
    # again, to be removed for full analysis
    position_billboard_fix_recall.to_csv(out_file_name)
    print('---')
    
    
print('done')

[ 0.  2.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. 13.  0.  0.  0. 17.  0.
  0.  0.]
[ 0.  2.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0. 13.  0.  0.  0. 17.  0.
  0.  0.]
---
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
---
[ 1.  0.  3.  0.  5.  0.  0.  8.  9.  0. 11.  0.  0.  0.  0.  0. 17.  0.
  0.  0.]
[ 1.  0.  3.  0.  5.  0.  0.  8.  9.  0. 11.  0.  0.  0.  0.  0. 17.  0.
  0.  0.]
---
[ 1.  2.  3.  4.  5.  6.  7.  8.  0. 10.  0. 12. 13. 14. 15. 16. 17. 18.
 19. 20.]
[ 1.  2.  3.  4.  5.  6.  7.  8.  0. 10.  0. 12. 13. 14. 15. 16. 17. 18.
 19. 20.]
---
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
---
[ 0.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20.]
[ 0.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20.]
---
[ 1.  0.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20.]
[ 1.  0.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20.]
---
[ 1.  2.  3.  4.  5.  0.  7.  0.  9.  0. 11.  0.  0.  0.  0.  0.  0.  0.
  0.  0.]
[ 1.  2.  3.  4.  5.  0.  7.  0.  9.  0. 11.  0.  0.  0.  0.  0.  0.  0.
  0.  0.]
---
[ 1.  2.  3.  0.  5.  0.  7.  0.  9. 10. 11. 12. 13. 14.  0. 16. 17. 18.
 19. 20.]
[ 1.  2.  3.  0.  5.  0.  7.  0.  9. 10. 11. 12. 13. 14.  0. 16. 17. 18.
 19. 20.]
---
[ 1.  0.  0.  0.  0.  0.  0.  0.  9.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0. 20.]
[ 1.  0.  0.  0.  0.  0.  0.  0.  9.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0. 20.]
---
[ 0.  0.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15.  0. 17.  0.
 19.  0.]
[ 0.  0.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15.  0. 17.  0.
 19.  0.]
---
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
---
[ 0.  2.  3.  4.  5.  6.  0.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20.]
[ 0.  2.  3.  4.  5.  6.  0.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20.]
---
[ 0.  0.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20.]
[ 0.  0.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20.]
---
[ 0.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19.  0.]
[ 0.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19.  0.]
---
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
---
[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14.  0. 16. 17. 18.
 19. 20.]
[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14.  0. 16. 17. 18.
 19. 20.]
---
[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19.  0.]
[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19.  0.]
---
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
---
done

In [22]:
out_file_name

'../data/03_fixation_billboards_recall_recognition/sub019_fixations_billboards_recall_recognition.csv'

In [23]:
position_billboard_fix_recall.head()

   position_index billboard_image_at_position_text  fix_bill recall
0               1                           coffee         1      0
1               2                        buckle_up         2      0
2               3                   sun_protection         3      0
3               4                           burger         4      0
4               5                         diabetes         5      1